@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}
@font-face {
  font-family: logo;
  src: url(img/fonts/Unique.ttf);
}
@font-face {
  font-family: adidas;
  src: url(ITCAvantGardeStd-Bold.otf);
}

html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.829);
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h3 {
  font-size: 33px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}
/*-------------------------------------logo hover effect---------------------------------------- */
@keyframes hover_fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.headlogo:hover a img {
  /* animation: hover_fade 0.25s ease-in-out forwards; */
  /* content: url(img/logo/diamond2.png); */
  /* padding-bottom: 4px; */
}
section a img {
  height: 50px;
  width: 50px;
  opacity: 1;
  transform: scale(1.75);
}
.headlogo {
  animation: hover_fade 0.5s ease-in-out forwards;
  display: flex;
  align-items: center;
}
#clothify {
  text-decoration: none;
  color: white;
  padding-left: 10px;
  font-family: logo;
  font-size: 5vh;
  background: -webkit-linear-gradient(
    rgb(0, 225, 255),
    rgba(0, 26, 255, 0.432)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* ----------------------------------------------Header-------------------------------------- */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 25px 0px 10px;
  background-color: rgba(255, 255, 255, 0.829);
  z-index: 999;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
  position: sticky;
  top: 0px;
  left: 0px;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  animation: hover_fade 0.5s ease-in-out forwards;
  list-style: none;
  margin-right: 50px;
}
#navbar li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.452);
}
#navbar li :hover {
  transition: all 0.25s;
  color: black;
}
/* #navbar {
  padding-right: 0px;
} */
/*----------------------------------------header hover animation---------------------------------  */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  box-shadow: 0px 0px 10px rgb(102, 219, 255);
}
/* ------------------------------------------------Slider--------------------------------------- */
#slider {
  margin-top: 30px;
  width: 100%;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411); */
}
.slide1 img {
  width: 100%;
  /* position: absolute; */
}
.swiper-wrapper {
  width: 100%;
}
.swiper-slide {
  animation: hover_fade 1s ease-in-out;
}
.swiper-pagination-bullet-active {
  background-color: rgb(41, 38, 38) !important;
}
.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  right: 10px;
  padding: 30px;
  color: rgba(0, 0, 0, 0.384) !important;
  fill: black !important;
  stroke: black !important;
}
@keyframes hover_fade1 {
  from {
    opacity: 0.384;
  }
  to {
    opacity: 1;
  }
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  animation: hover_fade1 0.5s ease-in-out forwards;
  color: rgb(0, 0, 0) !important;
}
.example {
  height: 100vh;
}
#feature {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.feature_sec2 {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
  text-align: center;
  margin: 33px 100px 31px 100px;
  padding: 40px 17px 40px 17px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.feature_sec2:hover {
  transform: scale(1.1);
  background-color: #000000f3;
  color: rgb(166, 255, 255);
}
.feature_sec2 h5 {
  margin-top: 15px;
}
.pro {
  cursor: pointer;
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.288);
  border-radius: 0px;
  margin: 10px 10px 10px 10px;
  transition: all 0.35s ease-in-out;
}
.pro:hover {
  transform: scale(1.05);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
}
.pro_details img {
  width: 100%;
  border-radius: 20px;
  height: 35vh;
}
.pro_details {
  height: 100%;
}
span {
  font-size: 1.5vh;
}
.amount {
  padding-top: 10px;
  padding-left: 5px;
}
.slider_prod {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#banner {
  background: url(img/banner/b2.jpg) no-repeat center center/cover;
  height: 90vh;
}
.ban {
  width: 100%;
  min-width: 250px;
}
/* .banner img {
  width: 100%;
  height: 100%;
} */
.banner h2 {
  display: flex;
  flex-wrap: wrap;
  font-family: adidas;
  padding-top: 5%;
  padding-left: 2%;
  word-spacing: 2px;
  letter-spacing: 2px;
  line-height: 120%;
  font-size: 8vh;
  text-shadow: 0px 0px 2px rgb(255, 255, 255);
  color: white;
}
.btns_banner {
  margin-top: 50px;
  display: block;
  flex-direction: column;
  justify-content: end;
}
.btns_banner button {
  margin: 1% 0% 0% 2%;
  padding: 15px 45px 15px 45px;
  cursor: pointer;
  animation: button_off;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.btns_banner button a {
  text-decoration: none;
  color: black;
}
.btns_banner button i {
  padding-left: 10px;
  box-shadow: 0px 0px 0px black;
  transition: all 0.5s;
}
@keyframes button_off {
  from {
    box-shadow: 0px 0px 10px black;
  }
  to {
    box-shadow: 0px 0px 0px black;
  }
}
@keyframes button {
  from {
    box-shadow: 0px 0px 0px black;
  }
  to {
    box-shadow: 0px 0px 10px black;
  }
}
.btns_banner button:hover {
  animation: button;
  animation-timing-function: ease-in-out;
  animation-duration: 0.35s;
  animation-fill-mode: forwards;
}
.new {
  text-align: center;
  align-items: center;
}
/* .containers {
  display: flex;
} */
.container {
  width: 100%;
  height: 100%;
  cursor: pointer;
  min-width: 250px;
}
.cont22 {
  height: 60vh;
  width: 100%;
}
.cont2 {
  background: url(/E-commerce/img/banner/banner69.png) no-repeat center
    center/cover;
  /* background: 100% 100%; */
  height: 100%;
  width: 100%;
}
.action-container {
  display: block;
}
.action-inner {
  height: 100%;
  background-color: #130808;
  /* display: flex;
  flex-direction: row; */
}
.action-content {
  height: 100%;
  flex-direction: row;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.action-content img {
  transform: scale(0.85);
  width: 35%;
  height: 35%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 0px 120px 0px 0px;
}
.action-content img:hover {
  transform: scale(0.95);
}
/* ----------------------
 */

/*CUSTOM SCROLL BAR*/
*,
html {
  scroll-behavior: smooth;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  scrollbar-color: rgb(210, 210, 210) rgb(46, 54, 69) !important;
  scrollbar-width: thin !important;
  --white: #fff;
  --black: #131417;
  --primary: #5bc348;
  --primarylite: #53b141;
  --gray: #6d7175;
  --dark: #253248;
  --darklite: #364256;
  --lite: #f8f9fa;
}
::-webkit-scrollbar {
  height: 12px;
  width: 8px;
  background: var(--dark);
}
::-webkit-scrollbar-thumb {
  background: gray;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-corner {
  background: var(--dark);
}

/* DEFAULT */
/* body {
  overflow-x: hidden !important;
}

.title {
  font-family: "Merriweather", serif;
}

a {
  text-decoration: none;
  transition: 0.5s;
  outline: none !important;
}

li {
  list-style: none;
}

input,
textarea,
select,
button {
  outline: none !important;
}

fieldset {
  border: 0;
}

p {
  letter-spacing: 0.08em;
  line-height: 1.8em;
  color: var(--gray);
}

img {
  min-width: 100%;
}

em {
  font-style: normal;
  color: var(--dark);
}

.btn1,
.btn2 {
  padding: 15px 20px;
  border-radius: 40px;
  text-align: center;
  display: inline-block;
  border: 0;
}

.btn1 {
  background-color: var(--primary);
  color: var(--white);
}

.btn1:hover {
  background-color: var(--primarylite);
}

.btn2 {
  background-color: var(--dark);
  color: var(--white);
}

.btn2:hover {
  background-color: var(--darklite);
}

@media (max-width: 820px) {
  .btn1,
  .btn2 {
    padding: 10px 15px;
  }
} */

/*SECTION5*/
.btn2 {
  padding: 15px 20px;
  border-radius: 40px;
  text-align: center;
  display: inline-block;
  border: 0;
  cursor: pointer;
}
.btn2 {
  background-color: var(--dark);
  color: var(--white);
}

.btn2:hover {
  background-color: var(--darklite);
}

@media (max-width: 820px) {
  .btn1,
  .btn2 {
    padding: 10px 15px;
  }
}
.section5 {
  background-color: rgb(15, 13, 44);
  display: flex;
  align-items: center;
}

.section5 section {
  width: 100%;
  padding: 2rem 4rem;
}

.section5 section p {
  color: rgba(249, 255, 196, 0.8);
}

.section5 section .btn2 {
  float: right;
}

@media (max-width: 1020px) {
  .section5 {
    display: block;
  }
  .section5 section {
    padding: 1rem 1rem;
    text-align: center;
  }
  .section5 section .btn2 {
    float: none;
  }
}
.section5 section h1 {
  color: #f4ff91;
}
/* -----------------------------------------FOOTER */
.footer {
  background-color: rgb(2, 2, 26);
  width: 100%;
  display: flex;
  align-items: top;
  padding: 5rem 0;
}

.footer section {
  justify-content: center;
  padding: 1rem 2rem;
  width: 100%;
  vertical-align: top;
}

.footer section h3 {
  color: var(--white);
  text-align: center;
}

.footer section a {
  color: rgb(254, 255, 197);
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  margin: 15px 0;
}

.footer section a:hover {
  color: var(--white);
}

.footer section:nth-child(2) a:before,
.footer section:nth-child(3) a:before {
  content: "ïƒš";
  font-family: "FontAwesome";
  margin-right: 5px;
  color: var(--white);
}

.footer section a span {
  margin: 0 10px;
}

.sub-footer {
  background-color: #000000;
  text-align: Center;
  color: var(--gray);
  padding: 1rem 0;
}

@media (max-width: 1020px) {
  .footer {
    display: block;
  }
  .footer section {
    padding: 1rem 1rem;
  }
  .footer section:nth-child(2),
  .footer section:nth-child(3) {
    width: 49%;
    display: inline-block;
  }
}
.footer_text {
  color: antiquewhite;
  text-align: center;
}
@media (max-width: 799px) {
  #navbar {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: flex-start;
    top: 0;
    position: fixed;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #ffffffbb;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.301);
    padding: 80px 0px 0px 20px;
    transition: all 0.5s;
  }
  #navbar li {
    padding-top: 15%;
  }
  #navbar li {
    padding-bottom: 20px;
    font-size: 2.25vh;
  }

  .headlogo {
    animation: hover_fade 0.5s ease-in-out forwards;
    display: flex;
    align-items: center;
    transform: scale(0.5);
    transform: translateX(-10px);
  }

  #ham {
    display: flex !important;
    transform: scale(1.5);
    cursor: pointer;
    padding-right: 10px;
  }
  #ham i {
    padding-left: 10px;
    padding-right: 7px;
  }
  #cross1 {
    display: block !important;
    padding-bottom: 20px;
  }
  #navbar.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    top: 0;
    position: fixed;
    right: 0px;
    height: 100vh;
    width: 300px;
    background-color: #ffffff;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.301);
    padding: 80px 0px 0px 20px;
    z-index: 999;
    transition: all 1s;
  }
  .action-container {
    display: block;
  }
  .action-inner {
    height: 100%;
    background-color: #130808;
    display: flex;
  }
  .action-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .action-content img {
    transform: scale(0.85);
    width: 100%;
    height: auto;
    cursor: pointer;
    margin: 0;
    transition: all 0.3s ease-in-out;
  }
  .action-content img:hover {
    transform: scale(0.95);
  }
  .pro {
    cursor: pointer;
    width: auto;
    min-width: 250px;
    padding: 10px 12px;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.288);
    border-radius: 0px;
    margin: 10px 10px 10px 10px;
    transition: all 0.35s ease-in-out;
    /* transform: scale(0.6); */
  }
  .pro:hover {
    transform: scale(1.05);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
  }
  .pro_details img {
    width: 100%;
    border-radius: 20px;
    height: 35vh;
  }
  .pro_details {
    height: 100%;
  }
  span {
    font-size: 1.5vh;
  }
  .amount {
    padding-top: 10px;
    padding-left: 5px;
  }
  .slider_prod {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .banner h2 {
    display: flex;
    flex-wrap: wrap;
    font-family: adidas;
    padding-top: 5%;
    padding-left: 2%;
    word-spacing: 2px;
    letter-spacing: 2px;
    font-size: 8vh;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0);
    color: rgb(12, 6, 6);
  }
  .btns_banner {
    margin-top: 50px;
    display: block;
    flex-direction: column;
    justify-content: end;
  }
  .btns_banner button {
    margin: 6% 0% 0% 2%;
    padding: 15px 45px 15px 45px;
    cursor: pointer;
    animation: button_off;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  .btns_banner button a {
    text-decoration: none;
    color: black;
  }
  .btns_banner button i {
    padding-left: 10px;
    box-shadow: 0px 0px 0px black;
    transition: all 0.5s;
  }
  #feature {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
#ham {
  display: none;
}
#cross1 {
  transform: scale(1.52);
  display: none;
}
